.input-icon {
  position: fixed;
  top: .5rem;
  left: .3rem; }

#myModal {
  z-index: 1;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%; }

.show {
  display: block; }

.book-box {
  padding: .56rem;
  border: 1px solid #c7c7c7;
  border-radius: 6px;
  height: 100%; }

.button-box {
  padding: 1rem;
  background-color: #c2ddff; }

.form-textarea {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 1px solid #c7c7c7; }

.form-textarea:focus {
  outline: 5px #80bdff; }

.custom-btn:link, .custom-btn {
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: none;
  font-size: 1.4rem;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 4rem; }

.custom-btn-success {
  background-color: #1eb2ff;
  color: #e7e7e7; }

.custom-btn-success:hover {
  background-color: #1e96ff; }

.fo-n {
  position: absolute;
  top: 50%;
  left: .1rem; }

form .form-group .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff; }

form .form-group .form-control:placeholder-shown {
  color: #ffffff; }

.form--label {
  color: #fff;
  font-size: 1.5rem; }

.secondary-heading {
  color: #1bc5ff;
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  font-family: lato,sans-serif; }

.secondary-heading:hover {
  color: #20a7d3; }

/*particles*/
/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif; }

canvas {
  display: block; }

/* ---- particles.js container ---- */
#particles-js {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #195d63;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

.js-count-particles {
  font-size: 1.1em; }

#stats, .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px; }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

.count-particles {
  border-radius: 0 0 3px 3px; }

.tertiary-heading {
  color: #f7f7f7;
  font-size: 1.65rem;
  text-transform: capitalize; }

.paragraph {
  font-size: 1.45rem;
  color: #f7f7f7;
  background-color: transparent; }

.uiIcon-f {
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
  position: relative; }

.uiIcon-f:hover {
  background-color: #23a5ff;
  z-index: 9; }

.uiIcon-ig {
  background-color: #a6b0b2;
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
  position: relative; }

.uiIcon-ig:hover {
  background-color: #b6cade; }

.uiIcon-g {
  background-color: #ff154d;
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
  position: relative; }

.uiIcon-g:hover {
  background-color: #ff255f; }

.icon-social {
  font-size: 1.65rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7f7f7; }

.icon-social:hover {
  color: #f7f7f7;
  text-decoration: none; }

.company {
  font-size: 1.45rem;
  color: #ded5de; }

.company:hover {
  color: #80bdff;
  text-decoration: none; }

.color-white {
  color: white; }

.uiIcon-pro {
  background-color: #dfdfdf;
  border: none;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  text-align: center;
  position: relative; }
  .uiIcon-pro:hover {
    background-color: #e2e2e2; }

.uiIcon-gp {
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  text-align: center;
  position: relative; }
  .uiIcon-gp:hover {
    z-index: 9;
    background-color: #ff154d; }

.uiIcon-bm {
  background-color: #1557ff;
  border: none;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  text-align: center;
  position: relative; }
  .uiIcon-bm:hover {
    z-index: 9;
    background-color: #14a2ff; }

.subscribe-button {
  position: absolute;
  top: 0;
  right: 0; }
  .subscribe-button, .subscribe-button:link {
    padding: 1rem 1.5rem;
    color: #6b6b6b;
    border: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 0 7px 7px 0;
    height: 100%; }
  .subscribe-button-white {
    background-color: #e6e6e6; }
    .subscribe-button-white:hover {
      background-color: #bfbfbf; }
  .subscribe-button:focus {
    outline: none; }

.form--group {
  height: 4.5rem;
  border-radius: 7px;
  border: 1px solid #dee4e4;
  display: inline-block;
  width: 35rem;
  position: relative;
  text-align: center; }

.form--input {
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
  width: 100%;
  padding: 1.3rem;
  color: #131619; }
  .form--input:focus {
    outline: none; }

#passwd-check {
  float: left; }

.t-c {
  font-size: 1.45rem; }

.t-c a {
  color: #4be4d6; }
  .t-c a:hover {
    color: #ffc107; }

.dashboard {
  max-width: 120rem;
  min-height: 80rem;
  border-radius: 5px; }
  @media only screen and (max-width: 75em) {
    .dashboard {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.dash-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.4);
  background-color: white; }
  @media only screen and (max-width: 31.5em) {
    .dash-header {
      flex-wrap: wrap;
      justify-content: space-between;
      height: 11rem; } }

#dash-auto {
  display: block; }

.dash-content {
  height: 80rem;
  display: flex; }
  @media only screen and (max-width: 56.5em) {
    .dash-content {
      flex-direction: column; } }

.dash-sidebar {
  flex: 0 0 15%;
  background-color: #134480; }

.dash-main {
  flex: 1;
  background-color: #f8f8f8; }

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%;
  text-align: center;
  padding: 1rem; }
  @media only screen and (max-width: 31.5em) {
    .search {
      order: 1;
      flex: 0 0 100%; } }

.search_bar {
  height: 3rem;
  background-color: #f2f2f2;
  border: none;
  padding: 1.2rem 2rem;
  border-radius: 50rem;
  width: 90%;
  transition: all .3s;
  margin-right: -3.5rem;
  font-size: 1.45rem; }
  .search_bar:focus {
    outline: none;
    width: 100%;
    border: 1px solid #1bc5ff; }
  .search_bar::-webkit-input-placeholder {
    color: #686868;
    font-weight: 100; }

.logo-box {
  padding: .7rem; }

.logo {
  height: 2rem; }

.search_icon {
  fill: #686868;
  height: 1.75rem;
  width: 1.75rem;
  background-color: rgba(158, 219, 255, 0.01); }

.search_button {
  border: none;
  transition: all .2s;
  background-color: rgba(158, 219, 255, 0.01); }
  .search_button:focus {
    outline: none; }
  .search_button:active {
    transform: translateY(0.2rem); }

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: rgba(158, 219, 255, 0.37); }

.user-nav_icon-box {
  position: relative; }

.user-nav_icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #6c757d; }

.user-nav_notification {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #ff2125;
  text-align: center;
  font-size: 1.1rem;
  position: absolute;
  top: .4rem;
  right: 1.95rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.user-nav_user-photo {
  height: 2.25rem;
  border-radius: 50%; }

.user-nav_user-name {
  font-size: 1.45rem;
  color: #575757; }

.dash-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.side-bar {
  list-style: none;
  margin-top: 3.5rem;
  font-size: 1.65rem; }
  @media only screen and (max-width: 56.5em) {
    .side-bar {
      display: flex;
      margin: 0; } }
  .side-bar-items {
    position: relative; }
    .side-bar-items:not(:last-child) {
      margin-bottom: 1rem; }
      @media only screen and (max-width: 56.5em) {
        .side-bar-items:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.5em) {
      .side-bar-items {
        flex: 1; } }
  .side-bar-items::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: #4be4d6;
    transform: scaleY(0);
    transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.25s; }
  .side-bar-items:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-bar-link:link, .side-bar-link:visited {
    color: #d7e9f9;
    padding: 1rem 2rem;
    text-transform: capitalize;
    display: block;
    text-decoration: none;
    position: relative;
    z-index: 10;
    text-align: center;
    transition: all .3s .25s; }
    @media only screen and (max-width: 56.5em) {
      .side-bar-link:link, .side-bar-link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-bar-link:link, .side-bar-link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
  .side-bar-link:hover {
    color: #ffffff; }
  .side-bar_icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .side-bar_icon {
        margin-right: 0;
        margin-bottom: .7rem;
        width: 1.5rem;
        height: 1.5rem; } }

.legal {
  font-size: 1.45rem;
  color: #eff4ff;
  text-transform: capitalize;
  padding: 1rem; }
  @media only screen and (max-width: 56.5em) {
    .legal {
      display: none; } }

.major-btn {
  border-radius: 10rem;
  text-align: center;
  padding: .7rem 1.2rem;
  border: none;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2); }
  .major-btn-red {
    background-color: #FF0011;
    color: white; }
    .major-btn-red:hover {
      background-color: #ff6872;
      color: #f7f7f7; }
  .major-btn-blue {
    color: #f7f7f7;
    background-color: #1c97e4; }
    .major-btn-blue:hover {
      background-color: #1bc5ff;
      color: #f3f3f3; }
  .major-btn-white {
    background-color: #f7f7f7;
    color: #1bc5ff; }
    .major-btn-white:hover {
      background-color: white;
      color: #1c97e4; }

.bttn {
  border-radius: 10rem;
  text-align: center;
  padding: 1rem 1.7rem;
  border: none;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  width: 20rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .bttn-red {
    background-image: linear-gradient(45deg, #ff650a, #eb766e);
    color: white;
    border: 1px solid #eff8ff;
    transition: all .2s; }
    .bttn-red:hover {
      text-decoration: none;
      background-image: linear-gradient(45deg, #eb766e, #ff650a);
      color: #f7f7f7; }
  .bttn-blue {
    color: #f7f7f7;
    background-color: #1c97e4; }
    .bttn-blue:hover {
      background-color: #1bc5ff;
      color: #f3f3f3; }

/*
  phone = 37.5em
  tab-port = 56.25em
  tab-land = 75em
  big-screen = 112.5em


  */
.active {
  border-bottom: 2px solid #1c97e4; }

.navigation {
  padding: 1.5rem 0 1.5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.1); }

.main--nav {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  width: 30%;
  align-self: center; }
  @media (max-width: 56.25em) {
    .main--nav {
      width: 50%;
      z-index: 5; } }

.nav {
  width: 100%; }

.logo {
  width: 6rem;
  cursor: pointer; }

.logo-box {
  padding: 1rem; }

.nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none; }
  .nav--item:not(:last-child) {
    margin-right: 1rem; }
  .nav--link {
    display: block;
    font-size: 1.65rem;
    text-transform: capitalize;
    text-decoration: none;
    font-family: "Lato",sans-serif;
    transition: all .2s;
    font-weight: 400; }
    @media (max-width: 56.25em) {
      .nav--link {
        font-size: 2rem; } }
    .nav--link:hover {
      text-decoration: none; }

.nav-group {
  padding: 1rem;
  display: block; }
  @media (max-width: 56.25em) {
    .nav-group {
      display: none; } }

.checkbox {
  display: none; }

.menu-icon {
  position: relative; }
  .menu-icon, .menu-icon::before, .menu-icon::after {
    width: 3rem;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    transition: all .4s; }
  .menu-icon::before, .menu-icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .menu-icon::before {
    top: .8rem; }
  .menu-icon::after {
    top: -.8rem; }

.checkbox:checked ~ .nav-group {
  display: block;
  text-align: center;
  border-radius: 4px; }
  @media (max-width: 56.25em) {
    .checkbox:checked ~ .nav-group {
      background-color: rgba(108, 226, 198, 0.9); } }

@media (max-width: 56.25em) {
  .checkbox:checked ~ .nav-group .nav .nav--item {
    width: 100%;
    height: 3rem; } }

@media (max-width: 56.25em) {
  .checkbox:checked ~ .nav-group .nav {
    justify-content: space-around;
    align-items: center;
    height: 50vh; } }

.checkbox:checked ~ .menu-button .menu-icon {
  background-color: transparent; }

.checkbox:checked ~ .menu-button .menu-icon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0; }

.checkbox:checked ~ .menu-button .menu-icon::after {
  transform: rotate(-45deg);
  top: 0; }

.menu-button {
  float: right;
  display: none; }
  @media (max-width: 56.25em) {
    .menu-button {
      display: block; } }

.pad-xsm {
  padding: 1rem; }
  @media only screen and (max-width: 75em) {
    .pad-xsm {
      padding: 0;
      margin: 0; } }

.align-center {
  margin: 5rem auto; }

.mt-xl {
  margin-top: 8rem; }

.pad-xl {
  padding: 4rem; }

.box-sh-h {
  border: 1px solid #e0ebf3;
  transition: all .25s;
  border-radius: 5px;
  animation: move-up .25s linear; }
  .box-sh-h:hover {
    box-shadow: 0 2px 0.8rem rgba(0, 0, 0, 0.2); }

.bod-1 {
  border: 1px solid #e0ebf3;
  border-radius: 5px; }

.mb-pl-1 {
  margin-bottom: -3rem; }

.mb-xl {
  margin-bottom: 8rem; }

.bg-grey {
  background-color: #c4d4e2; }

.width-l {
  width: 10rem; }

.r-skew {
  height: 100%;
  -webkit-transform: skew(-15deg, -15deg);
  -moz-transform: skew(-15deg, -15deg);
  -ms-transform: skew(-15deg, -15deg); }

.skew {
  -webkit-transform: skew(15deg, 15deg);
  -moz-transform: skew(15deg, 15deg);
  -ms-transform: skew(15deg, 15deg); }

.r-skew-10 {
  height: 100%;
  -webkit-transform: skew(-10deg, -10deg);
  -moz-transform: skew(-10deg, -10deg);
  -ms-transform: skew(-10deg, -10deg); }

.skew-10 {
  -webkit-transform: skew(10deg, 10deg);
  -moz-transform: skew(10deg, 10deg);
  -ms-transform: skew(10deg, 10deg); }

.z-ult {
  z-index: 1000; }

.color-prim {
  color: #ffc539 !important; }

.bg-red {
  background-image: linear-gradient(to right bottom, #e22e5e, #ff1330);
  background-size: cover;
  height: 100vh;
  background-position: center; }

.full-vh {
  height: 100vh; }

.terms {
  font-size: 1.45rem; }

.bx-shad {
  box-shadow: 0 1em 1.4rem 0 rgba(0, 0, 0, 0.1); }

.bg-white {
  background-color: white; }

.al-c {
  margin: 0 auto; }

.t-al-l {
  text-align: left; }

.t-al-c {
  text-align: center; }

.mg-t-l {
  margin-top: 6rem; }

.mg-t-xl {
  margin-top: 12rem; }
  @media (max-width: 37.5em) {
    .mg-t-xl {
      margin-top: 6rem; } }

.mg-t-ul {
  margin-top: 18rem; }

.mg-t-sm {
  margin-top: 2rem; }

.pad-l {
  padding: 6rem; }
  @media (max-width: 37.5em) {
    .pad-l {
      padding: 3rem; } }

.pad-sm {
  padding: 2rem; }

.z-ult {
  z-index: 1000; }

.color-prim {
  color: #ffc539 !important; }

.bg-red {
  background-image: linear-gradient(to right bottom, #e22e5e, #ff1330);
  background-size: cover;
  height: 100vh;
  background-position: center; }

.full-vh {
  height: 100vh; }

.terms {
  font-size: 1.45rem; }

.fig-cap {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #f7f7f7;
  opacity: 0;
  transition: all .3s; }

.color-white {
  color: white !important; }

.bg-img {
  background-image: url("../img/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh; }

.color-b {
  color: #1c97e4; }

.color-g {
  color: lightslategrey; }

.color-db {
  color: #134480; }

.color-p {
  color: palevioletred; }

.color-gold {
  color: gold; }

/*
  phone = 37.5em
  tab-port = 56.25em
  tab-land = 75em
  big-screen = 112.5em


  */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: ' Roboto', sans-serif; }

.primary-heading {
  font-size: 6rem;
  font-weight: 400;
  font-family: Lato,sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  display: block; }

.sub-heading {
  font-size: 1.65rem;
  font-weight: 700;
  text-transform: capitalize;
  display: block; }

.sec-h2 {
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  padding: 3rem;
  color: #1c97e4;
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize;
  font-family: lato,sans-serif;
  text-align: center;
  z-index: 9; }
  .sec-h2:hover {
    color: #1bc5ff; }

.paragraph-1 {
  font-size: 1.65rem;
  color: #6c757d;
  padding: .6rem;
  text-align: center; }

.ceo {
  font-size: 2rem;
  transform: skewX(2deg);
  font-weight: 400;
  color: #14a2ff;
  text-align: center; }

.ceo-heading {
  text-align: center;
  padding: 5rem;
  text-transform: capitalize;
  font-size: 4rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  font-weight: 400;
  color: #3372ff;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .ceo-heading:hover {
    transform: skewX(15deg) rotate(5deg); }

.header-main {
  background-image: linear-gradient(#11efff, #2a9ca6);
  height: 100%;
  background-size: cover; }

.header-sub {
  background-image: linear-gradient(45deg, #11efff, #2a9ca6);
  height: 80%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 10%, 90% 70%, 0 100%); }

.header-img {
  padding: 1rem;
  z-index: -1; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9; }
  @media (max-width: 37.5em) {
    .text-box {
      top: 70%;
      left: 50%; } }

.int-sec {
  padding: 1rem; }

.bo-sec {
  height: 60rem; }

.bo-img {
  width: 15rem;
  height: auto;
  border-radius: 10rem; }

.bo-text {
  border-radius: 5rem; }

.services-h-section {
  border-radius: 100px;
  height: 100%;
  background-color: #ffc539;
  -webkit-transform: skew(15deg, 15deg);
  -moz-transform: skew(15deg, 15deg);
  -ms-transform: skew(15deg, 15deg);
  -o-transform: skew(15deg, 15deg);
  transform: skew(15deg, 15deg); }

.service-box {
  background-color: #FF616E;
  padding: 2rem;
  border-radius: 5rem;
  transition: all .3s;
  display: inline-block;
  height: 50%; }

.review-img {
  border-radius: 50%;
  width: 60%;
  height: 60%;
  transition: all .3s; }

.review-text {
  padding: 1.5rem;
  font-size: 1.65rem;
  border-radius: 1rem; }

.figure:hover .fig-cap {
  opacity: 1; }

.figure:hover .review-img {
  filter: brightness(30%) blur(0.5rem); }

.pro-sec {
  height: 80vh; }

.pro-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.lt-anime {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 7rem; }
  .lt-anime:hover {
    animation: heart-b 5s linear infinite; }

.service-inner:hover > .lt-anime-bx > .lt-anime {
  animation: heart-b 5s linear infinite; }

@keyframes rotate {
  0% {
    transform: rotate(45deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(150deg); }
  75% {
    transform: rotate(270deg); }
  85% {
    transform: rotate(330deg); }
  95% {
    transform: rotate(350deg); }
  100% {
    transform: rotate(10deg); } }

@keyframes rotate-r1 {
  0% {
    transform: rotate(-45deg); }
  25% {
    transform: rotate(-90deg); }
  50% {
    transform: rotate(-150deg); }
  75% {
    transform: rotate(-270deg); }
  85% {
    transform: rotate(-330deg); }
  95% {
    transform: rotate(-350deg); }
  100% {
    transform: rotate(-5deg); } }

@keyframes rotate-r2 {
  0% {
    transform: rotate(-50deg); }
  25% {
    transform: rotate(-100deg); }
  50% {
    transform: rotate(-160deg); }
  75% {
    transform: rotate(-290deg); }
  85% {
    transform: rotate(-320deg); }
  95% {
    transform: rotate(-350deg); }
  100% {
    transform: rotate(-10deg); } }

@keyframes move-up {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-0.6rem) scale(1.2); } }

@keyframes heart-b {
  0% {
    transform: scale(1.1); }
  20% {
    transform: scale(1.2); }
  50% {
    transform: scale(1.4); }
  70% {
    transform: scale(1.2); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(0.9); } }

.circle {
  border: 2px dotted #1c97e4;
  border-radius: 50%;
  width: 40rem;
  height: 40rem;
  animation: rotate 15s infinite;
  position: relative; }

.circle-r {
  border: #1c97e4;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  animation: rotate-r1 15s infinite;
  position: absolute;
  top: 50%;
  left: 50%; }

.circle-r2 {
  border: #1c97e4;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  animation: rotate-r2 15s infinite;
  position: absolute;
  top: 50%;
  left: 50%; }

.circle-r3 {
  border: #1c97e4;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  animation: fa-spin 15s infinite;
  position: absolute;
  top: 50%;
  left: 50%; }

.circle-r4 {
  border: #1c97e4;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  animation: rotate-r 15s infinite;
  position: absolute;
  top: 50%;
  left: 50%; }

@keyframes rotate-r1 {
  0% {
    transform: rotate(-45deg); }
  25% {
    transform: rotate(-90deg); }
  50% {
    transform: rotate(-150deg); }
  75% {
    transform: rotate(-270deg); }
  85% {
    transform: rotate(-330deg); }
  100% {
    transform: rotate(-360deg); } }

.c-1:hover {
  background-color: #1c97e4; }

.c-1 > i {
  height: 2rem; }

.chat-box-body:after {
  content: "";
  background-image: url("../img/bg.svg") !important;
  opacity: .1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  position: absolute;
  z-index: -1; }

.chat-box-header {
  background: linear-gradient(45deg, #1c97e4 0%, #11efff) !important;
  font-size: 1.65rem !important; }

#chat-circle {
  background: linear-gradient(45deg, #11efff 0%, #1c97e4) !important;
  border-radius: 100rem !important; }
  #chat-circle:hover {
    background: linear-gradient(45deg, #1c97e4 0%, #11efff) !important; }

.chat-box-header .title {
  font-size: 1.65rem !important; }

#chat-input {
  font-size: 1.65rem !important; }

.chat-logs::-webkit-scrollbar-thumb {
  background-color: #1c97e4 !important; }

.chat-msg.self > .cm-msg-text {
  background-color: #1bc5ff !important; }

.chat-logo {
  height: 4rem;
  width: 4rem;
  fill: white; }

.chat-cross {
  height: 1.8rem;
  width: 1.8rem;
  fill: white; }

.chat-sub {
  height: 2.5rem;
  width: 2.5rem;
  fill: #1c97e4; }

.footer-box {
  padding: 1rem; }

.footer {
  margin-top: 10rem;
  bottom: 0;
  height: 40vh;
  padding: 2rem;
  font-family: Lato,sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media (max-width: 37.5em) {
    .footer {
      flex-direction: column;
      align-items: center; } }

.footer__company {
  padding: 1rem;
  font-size: 1.5rem; }

.footer__navigation-list {
  padding: 1rem;
  display: flex;
  list-style: none; }
  @media (max-width: 37.4em) {
    .footer__navigation-list {
      border: none;
      flex-wrap: wrap; } }

.footer__navigation-item {
  padding: 1rem;
  background-color: #199dd1;
  transition: rotate .2s;
  text-align: center;
  border-radius: 10rem; }
  .footer__navigation-item:not(:last-child) {
    margin-right: .5rem; }
  .footer__navigation-item:hover {
    transform: rotate(5deg); }

.footer__navigation-item-social {
  padding: 1rem;
  background-color: #199dd1;
  transition: all .2s;
  text-align: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem; }
  .footer__navigation-item-social:not(:last-child) {
    margin-right: .5rem; }
  .footer__navigation-item-social:hover {
    transform: rotate(5deg);
    background-color: #2071e4; }

.footer__navigation-link {
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #fff;
  display: inline-block; }
  .footer__navigation-link:hover {
    text-decoration: none;
    color: #f7f7f7; }

.footer-before {
  position: absolute;
  top: -11rem;
  left: 0; }
